<div class="header">
  <ul id="navelements">
    <li class="element"id="title"><h4 >Sumanadasa Hall Management System</h4></li>
    <li class="element">
      <div class="logout">
            <button type="button" class="btn btn-warning" (click)="logout()" ><i class="fa fa-power-off" aria-hidden="true"></i></button>
        </div>
    </li>
    <li class="element">
        <div class="notification">
          <button type="button" class="btn btn-warning" (click)="showNotifications()"><i class="fa fa-bell" aria-hidden="true"></i></button>
        </div>
      </li>
  </ul>
</div>

<div class="details" *ngIf="notification">
    <div>
      <section >
      <h4 id="reqID">Requests for Rooms</h4>
      <div  class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Index Number</th>
              <th scope="col">Department</th>
              <th scope="col">Year</th>
              <th scope="col">Hall Number</th>
              <th scope="col">Hall Name</th>
              <th scope="col">Room Number</th>
              <th scope="col">Room Type</th>
              <th scope="col">Room Capacity</th>
              <th scope="col">Free Beds</th>
              <th scope="col">Assign / Ignore</th>
            </tr>
          </thead>
            </table>
          </div>
          <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
              <tr *ngFor="let request of requests">
                <td>{{request.req_id}}</td>
                <td>{{request.indexno}}</td>
                <td>{{request.dept_name}}</td>
                <td>{{request.year}}</td>
                <td>{{request.hall_id}}</td>
                <td>{{request.hall_name}}</td>
                <td>{{request.room_no}}</td>
                <td>{{request.room_type}}</td>
                <td>{{request.room_capacity}}</td>
                <td>{{request.free_beds}}</td>
                <td class="assignIgnore"><button class="btn btn-success ai" type="button" (click)="requestApprove(request)"><i class="fa fa-check "></i>
                  </button>&nbsp;<button class="btn btn-danger ai" type="button" (click)="requestIgnore(request)"><i class="fa fa-times "></i></button></td>
              </tr>
            </tbody>
          </table>
          </div>
          </section>
    </div>
  </div>

  <div class="container-fluid">
      <div class="row content">
          <div class="row">
              <div class="col-sm-3">
                <div class="well" id="addNewUser">
                  <h4>Add New User </h4>
                  <p><i class="fa fa-user-plus" aria-hidden="true" (click)="addUser()"></i></p> 
                </div>
              </div>
              <div class="col-sm-3">
                <div class="well" id="payments">
                  <h4>Payments</h4>
                  <p><i class="fa fa-usd" aria-hidden="true" (click)="payment()"></i></p> 
                </div>
              </div>
              <div class="col-sm-3">
                <div class="well" id="userDetails">
                  <h4>User Details</h4>
                  <p><i class="fa fa-user" aria-hidden="true" (click)="userDetails()"></i></p> 
                </div>
              </div>
              <div class="col-sm-3">
                <div class="well">
                  <h4>Hall Details</h4>
                  <p><i class="fa fa-home"></i></p> 
                </div>
              </div>
              </div>
              </div>
              </div>
              

  