<div class="header">
  <ul id="navelements">
    <li class="element"id="title"><h4 >Sumanadasa Hall Management System</h4></li>
    <li class="element">
      <div class="logout">
            <button type="button" class="btn btn-warning" (click)="logout()" ><i class="fa fa-power-off" aria-hidden="true"></i></button>
        </div>
    </li>
    <li class="element">
      <div class="addUser">
        <button type="button" class="btn btn-warning" (click)="addUser()"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
      </div>
    </li>
    <li class="element">
      <div class="notification">
        <button type="button" class="btn btn-warning" (click)="notification()"><i class="fa fa-bell" aria-hidden="true"></i></button>
      </div>
    </li>  
  </ul>
</div>
<div class="details">
    <div>
      <section>
      <h4 id="hallID">halls</h4>
      <div  class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Hall Number</th>
              <th scope="col">Hall Name</th>
              <th scope="col">Room Number</th>
              <th scope="col">Room Type</th>
              <th scope="col">Free Beds</th>
            </tr>
          </thead>
            </table>
          </div>
          <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
              <tbody>
              <tr *ngFor="let hall of hallDetails">
                <td>{{hall.hall_id}}</td>
                <td>{{hall.hall_name}}</td>
                <td>{{hall.room_no}}</td>
                <td>{{hall.room_type}}</td>
                <td>{{hall.room_capacity}}</td>
              </tr>
            </tbody>
          </table>
          </div>
          </section>

    </div>
  </div>


