@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
/* Footer */
nav#footer{
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    bottom:0px;
    width: 100%;
	background: #222222;
	color: #ffffff;
	padding: 20px 0 15px 0;
}
nav#footer .fnav{ vertical-align: middle;}
ul.footer-social li{
	display: inline-block;
	margin-right: 10px;
}
nav#footer p{
	font-size: 12px;
	margin-top: 10px;
}
#footer i.fa {
	height: 30px;
	width: 30px;
	border: 2px solid #8c8c8c;
	font-size: 20px;
	padding: 4px 5px;
	border-radius: 50%;
	color: #8c8c8c;
	transition: all 0.5s;
}
#footer i.fa:hover{
	background: #FCAC45;
	border-color: #FCAC45;
    color: #ffffff;
}

/*alerts*/
.alert {
    background: #f2edda;
    padding: 7px;
    font-size: .9em;
    margin-bottom: 20px;
    display: block;
    float: left;
    animation: 2s alertAnim forwards;
    margin-left:10px;
}
#error{
    width:100%;
    margin-top:10px;
    margin-left: 0px;
    float: none;
}
@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}

.signin{
    text-align: center;
    margin-top:10%;
    font-family: 'Josefin Sans', sans-serif;
    width: 50%;
}
label{
    float: left;
}
.btn{
    width:100%;
    height: 50px;
    background-color: darkcyan;
    color: white;
    font-size: 20px;
}
input{
    height: 50px;
}

header{
    margin: 0;
    padding:0;
    position: fixed;
    z-index: 25;
    width: 100%;
    top:0;
    background-color: darkcyan;
    color: white;
    
}
#header-space{
    height: 20%;
}
#title{
    text-align: center;
    padding: 20px;
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}