<div class="header">
    <ul id="navelements">
      <li class="element" id="title"><h4 >Sumanadasa Hall Management System</h4></li>
      <li class="element">
        <div class="logout">
              <button type="button" class="btn btn-warning" (click)="logout()" ><i class="fa fa-power-off" aria-hidden="true"></i></button>
          </div>
      </li>
      </ul>
      </div>
  <div id="header space"></div>
  
  
  <div class="container-fluid wrapper">
  <div class="row content ">
  <div class="col-sm-3 sidenav hidden-xs">
    <br>
    <h5>Welcome,</h5>
    <h2>{{details?.firstname}}&nbsp;{{details?.lastname}}</h2>
    <button type="button" (click)="toggleEdit()" class="btn btn-warning changes">Edit Profile Details</button>
    <div class="nav nav-pills nav-stacked editDetails" *ngIf=editDetails>
      <label for="firstname">First Name</label>
      <input type="text" [(ngModel)]="details.firstname"  name="details.firstname" class="form-control" id="firstname" >
      <label for="lastname">Last Name</label>
      <input type="text" [(ngModel)]="details.lastname" name="details.lastname" class="form-control" id="lastname">
      <label for="password">password</label>
      <input type="password" [(ngModel)]="details.password" name="details.password" class="form-control" id="password">
      <label for="re-enter-password">Re Enter Password</label>
      <input type="password"[(ngModel)]="re_enter_password" name="re_enter_password" class="form-control" id="re-enter-password">
      <span class="alert" *ngIf="error">{{errorMessage}}</span>
      <button class="btn btn-warning changes" (click)="changeDetails()">Change Details</button>
      <span class="alert" *ngIf="success">{{successMessage}}</span>
    </div><br>
  </div>
  <br>
  
  <div class="col-sm-9">
    <div class="well">
      <font color="{{greetColor}}" size="30"><i class="{{greetIcon}}" aria-hidden="true"></i></font><span class="greet">{{greet}}</span>
      <p>Logged Date : {{ today | date : "EEEE | d  MMMM  y" }}</p>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="well">
          <h4><i class="fa fa-home" aria-hidden="true"></i> Assigned Hall</h4>
          <p>{{details?.hall_name}}</p> 
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well">
          <h4>Current Position</h4>
          <p>{{details?.position}}</p> 
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well">
          <h4>Total Salary</h4>
          <p>Rs. {{details?.salary}}</p> 
        </div>
      </div>
      <div class="col-sm-3">
        <div class="well">
          <h4>Hours/Week</h4>
          <p>{{details?.hours_per_week}} hrs</p> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="well">
          <p>Text</p> 
          <p>Text</p> 
          <p>Text</p> 
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <p>Text</p> 
          <p>Text</p> 
          <p>Text</p> 
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <p>Text</p> 
          <p>Text</p> 
          <p>Text</p> 
        </div>
      </div>
    </div>
    
  </div>
  </div>
  </div>
  
  <nav id="footer">
  <div class="container">
      <div class="pull-left fnav">
          <p>ALL RIGHTS RESERVED. COPYRIGHT © 2017. Designed by MiracalSolutions &#169;</p>
      </div>
  </div>
  </nav>